/************ common ************/
.container {
  display: flex;
  width: 1400px;
  margin: 0 auto;
}

a:hover .more {
  visibility: visible;
  transition: all 0.75s ease;
  transform: rotate(90deg);
}

.btn {
  padding: 10px 30px;
}
.btn--round {
  border-radius: 20px;
  border: none;
}

.btn:not(.btn--fixed):hover span {
  /* not:가상연산자- btn--fixed 클래스에서는 적용시키지 않음 */
  /* position: relative;
  left: 20px; css3 */
  transform: translateX(10px);
}
.btn:hover {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 20px;
  transition: all 0.3s ease;
}

.more {
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: #ffffff;
  font-size: 40px;
  visibility: hidden;
  z-index: 3;
}

strong {
  font-weight: 700;
}
h2 {
  font-size: var(--h2);
  line-height: 1.25;
  margin-bottom: 30px;
}
/************ common end ************/

.visaul {
  position: relative;
  width: 100%;
}

.visual .visual_video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.visual .visual_txt {
  position: absolute;
  color: #fff;
  bottom: 150px;
  left: 100px;
  font-size: 20px;
}

.visual .visual_txt_under {
  position: absolute;
  color: #fff;
  bottom: 150px;
  left: 1400px;
  font-size: 20px;
}

.visual .visaul_txt_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.visual .visual_txt h2 {
  font-weight: 700;
  font-size: 50px;
}

.visual .visual_txt p {
  font-size: 28px;
}
/************ visual end ************/

.promotion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.promotion .promo-a {
  margin: 17px;
  /*padding을 주니까 hover가 튀어나감*/
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.promotion .promo-a:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  transition: all 0.3s ease;
}

.promotion .promo-a:hover:before {
  background-color: rgba(0, 0, 0, 0.7);
}

.promotion .promotion-banner img {
  object-fit: cover;
  width: 460px;
  height: 650px;
  object-fit: cover;
}

.promotion .promo-a h2 {
  position: absolute;
  color: var(--green);
  left: 60px;
  top: 120px;
  text-transform: uppercase;
}

.promotion .promo-a p {
  position: absolute;
  width: 50%;
  left: 170px;
  bottom: 70px;
  color: var(--white);
  font-size: 15px;
}

.promotion .promo-a h2,
.promotion .promo-a p {
  visibility: hidden;
}

.promotion .promo-a:hover p {
  visibility: visible;
  transition: all 0.7s ease;
}

.promotion .promo-a:hover h2 {
  transform: translate(22px);
  transition: all 0.9s ease;
  visibility: visible;
}
/************ promotion end ************/

.airplane {
  width: 100%;
  justify-content: space-between;
  color: var(--white);
  height: 500px;
  overflow: hidden;
  color: var(--black);
}
.airplane_title {
  margin: auto 0;
  padding: 50px;
}
.airplane_img {
  text-align: center;
  margin: auto 0;
}
.airplane_img img {
  width: 40%;
}
.airplane_btn {
  margin: auto 0;
  padding: 40px;
  color: var(--blue);
}
.airplane_btn a {
  border: solid var(--blue) 1px;
  border-radius: 20px;
}
/************ airplane end ************/

.bus {
  width: 100%;
  justify-content: space-between;
  color: var(--white);
  height: 400px;
  overflow: hidden;
  color: var(--black);
  background: rgb(174, 238, 209);
  background: radial-gradient(
    circle,
    rgba(174, 238, 209, 0.4206057422969187) 32%,
    rgba(148, 197, 255, 1) 100%
  );
}
.bus_title {
  margin: auto 0;
  padding: 50px;
}
.bus_img {
  text-align: center;
  margin: auto 0;
}
.bus_img img {
  width: 40%;
}
.bus_btn {
  margin: auto 0;
  padding: 40px;
}
.bus_btn a {
  border: solid var(--blue) 1px;
  border-radius: 20px;
}

.bus .btn {
  color: var(--blue);
}
.bus .btn:hover {
  color: var(--white);
  border-radius: 20px;
  transition: all 0.3s ease;
}
/************ bus end ************/

.reco {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 5px;
}

.reco .container {
  position: relative;
  margin-bottom: 12px;
  width: 90%;
}

.reco h2 {
  margin-left: 30px;
}
.reco .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reco .reco_img img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.reco .reco_wrap {
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 24%;
}

.reco .reco_wrap:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  transition: all 0.3s ease;
}

.reco .reco_wrap:hover:before {
  background-color: rgba(0, 0, 0, 0.4);
}

.reco .reco_wrap .forward {
  visibility: hidden;
  position: absolute;
  margin: 10px;
  padding: 10px;
}

.reco .reco_wrap:hover .forward {
  visibility: visible;
  z-index: 20;
  color: var(--white);
  font-size: 30px;
  font-weight: 400;
  transform: translate(8px);
  transition: all 0.6s ease;
}
/************ reco end ************/

.discount {
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 100px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.35477941176470584) 41%,
    rgba(253, 45, 45, 0) 100%
  );
}
.discount .container {
  flex-direction: column;
  align-items: start;
}

.discount .discount-title {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}

.discount .discount-title .btn {
  border: solid var(--green) 1px;
  color: var(--green);
  border-radius: 20px;
  margin: auto 0;
}

.discount .discount-title .discount-btn {
  margin-left: 50px;
}

.discount .discount-title .btn:hover {
  color: var(--white);
  background-color: var(--green);
}

.discount .discount-title h2 {
  margin-right: 70px;
  margin-bottom: 10px;
  text-align: right;
}
.discount .discount-title h4 {
  margin-right: 70px;
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--red);
  text-align: right;
}
.discount .discount-banner {
  width: 100%;
  position: relative;
}

.discount .discount-img {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.discount .discount-img img {
  width: 100%;
}
.discount .discount-img .sticker {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  background-color: var(--red);
  opacity: 0.7;
  padding: 10px;
  /* position을 주면 inline도 상하패딩 먹음 */
}
.discount .discount-txt h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}

.discount .discount-banner .btn {
  position: absolute;
  transform: translateY(-80px);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  color: var(--gray);
}
.discount .discount-banner .btn--prev {
  left: -50px;
}
.discount .discount-banner .btn--next {
  right: -50px;
}

/************ discount 끝 **************/
